extends partial/layout
//p aaaaaaa

block content
	.autopagerize_page_element: .content
			
			include mixins
			-var i=0;
			-for(var shop in shops)
				+make_cards({'shopname':shops[i].shopname,'description':shops[i].description,'img':shops[i].shoplogo})
				-i++;
