extends partial/layout
//p aaaaaaa

block content
	.autopagerize_page_element: .content
			include mixins
			-var i=1;
			-for(;i<10;i++)
				+make_cards({'shopname':'Lelva','description':'this is a shoes shop','img':'/images/shop/Lelva/img1'})
		include mixins
		
