extends partial/layout

block site_title
	!= 'tag.title'

block description
	- var desc = '标签：'


block content
	.autopagerize_page_element: .content
		.archive.animated.fadeInDown
			ul.list-with-title
				include mixins
				+postList()
