.page-top.animated.fadeInDown
  .nav
    li
        a.current(href="/")= 'Home'					
    li
        a.current(href="/about")= 'About'			
    li
        a.current(href="/archives")= 'Archive'
    li
        a.current(href="/links")= 'Links'				
  .information
     a(href="/newshop") 创建商店
     a(href="/transfer") 转账
     a(href="/makeorder") 创建订单
     a(href="/adduser") 添加用户
     .avatar
