.page-top.animated.fadeInDown
  .nav
    li
        a.current(href="/")= 'Home'					
    li
        a.current(href="/about")= 'About'			
    li
        a.current(href="/archives")= 'Archive'
    li
        a.current(href="/links")= 'Links'				
  .information
    .back_btn
      li
          a.fa.fa-chevron-left(onclick="window.history.go(-1)") 
    .avatar
